<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070652615482-ctdt82lp0vjv3s2epds88r09if68i86g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070652615482-ctdt82lp0vjv3s2epds88r09if68i86g</string>
	<key>API_KEY</key>
	<string>AIzaSyDmRfdm52NB6baSpL4KX32i2c9CIItJ2uU</string>
	<key>GCM_SENDER_ID</key>
	<string>1070652615482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oguzcoskun.KardemirYemek</string>
	<key>PROJECT_ID</key>
	<string>kardemiryemek</string>
	<key>STORAGE_BUCKET</key>
	<string>kardemiryemek.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070652615482:ios:c544da3d27a29c52637e03</string>
</dict>
</plist>